@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media screen and (max-width: 690px) {
    .default-block {
        width: 100%;
        padding: 20px 0px;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }

    footer p {
        font-size: .8em;
    }
}

@media screen and (min-width: 691px) {
    .default-block {
        width: 650px;
        padding: 20px;
    }
}

* {
    padding: 0;
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
}

:root {
    /*Palette darkmode*/
    --main-bg: #000;
    --card-bg: #1d1d1d;
    --text-color: #8b8b8b;
    --detail-dark: #323232;
    --detail-light: #444;
}

 /*Palette lightmode*/
.light-mode {
    --main-bg: #818181;
    --card-bg: #a6a6a6;
    --text-color: #1d1d1d;
    --detail-dark: #cbcbcb;
    --detail-light: #dddddd;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-sm {
    gap: 8px;
}

.gap-md {
    gap: 12px;
}

.gap-bg {
    gap: 16px;
}

.gap-hg {
    gap: 20px;
}

.pointer {
    cursor: pointer;
}

.default-block {
    background-color: var(--card-bg);
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px var(--main-bg);
    transition: ease all .5s;
}

.button {
    transition: background-color .5s ease, opacity .5s ease;
    background-color: var(--detail-dark);
    
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;

    border-radius: 100px;
    padding: 8px 20px;
}

.button:hover {
    opacity: .7;
}

.button:active {
    background-color: var(--main-bg);
    opacity: .4;
}

.switch {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 46px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--detail-light);
    transition: .4s;
    border-radius: 100px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 4px;
    bottom: 3px;
    background-color: var(--card-bg);
    transition: .4s;
    border-radius: 100px;
}

.slider:hover::before {
    background-color: var(--detail-dark);
}

.slider:active::before {
    background-color: var(--main-bg);
}

input:checked + .slider:before {
    transform: translateX(44px);
}

body {
    background-color: var(--main-bg);
    flex-direction: column;
}

h1, h2, h3, p {
    color: var(--text-color)
}

header {
    flex-wrap: wrap;
}

input {
    padding: 10px;
    border-radius: 100px;
    border: 0px;
}

input[type="text"] {
    background-color: var(--detail-dark);
    border: 2px solid var(--detail-dark);
    transition: border-color .6s ease, background-color .6s ease;
    outline: none;
}

input[type="text"]:focus {
    border-color: var(--detail-light);
    background-color: var(--detail-dark);
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-color);
    box-shadow: 0 0 20px 30px var(--detail-dark) inset !important;
    transition: box-shadow .5s ease, -webkit-text-fill-color .5s ease;
}

input[type="submit"] {
    background-color: var(--detail-dark);
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color .3s ease, opacity .3s ease;
}

input[type="submit"]:active {
    background-color: var(--main-bg);
}

footer p{
    text-align: center;
}

#light-mode-img {
    height: 32px;
}

#light-mode-toggle {
    background-color: var(--detail-light);
    border-radius: 100px;
    padding: 7px;
}

#github-logo {
    height: 30px;
}

#resultado {
    background-color: var(--detail-light);
    display: none;
}

#game-icon {
    height: 96px;
    border-radius: 8px;
}

#play-button {
    white-space: pre;
}

#play-button-img {
    height: 30px;
}

#pt, #en {
    z-index: 1;
}

#lang-switch {
    padding-left: 14px;
    gap: 25px;
    color: var(--text-color);
    font-weight: bold;
}