@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media screen and (max-width: 600px) {
    .default-block {
        min-width: 100%;
    }
}

@media screen and (min-width: 601px){
    .default-block {
        min-width: 75%;
    }
}

@media screen and (min-width: 992px) {
    .default-block {
        min-width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .default-block {
        min-width: 40%;
    }
}

* {
    padding: 0;
    margin: 0;
    
    font-family: 'Open-sans', sans-serif;
}

:root {
    --content-bg-color: #f3f5f9;
    --primary-bg-color: #505353;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-sm {
    gap: 8px;
}

.gap-md {
    gap: 12px;
}

.gap-bg {
    gap: 16px;
}

.gap-hg {
    gap: 20px;
}

.pointer {
    cursor: pointer;
}

.default-block {
    background-color: var(--content-bg-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    transition: ease all .5s;
}

body {
    background-color: var(--primary-bg-color);
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 100px;
    border: 0px;
}

input[type="text"] {
    background-color: #DDD;
    border: 2px solid transparent;
    transition: border-color .6s ease;
    transition: background-color .3s ease;
    outline: none;
}

input[type="text"]:focus {
    border-color: #AAA;
}

input[type="text"]:hover {
    background-color: #CCC;
}

input[type="submit"] {
    background-color: #888;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color .3s ease;
}

input[type="submit"]:hover {
    background-color: #333;
}

#light-mode-img {
    height: 30px;
}

#github-logo {
    height: 30px;
}

#resultado {
    background-color: #888;
    display: none;
}

#gameIcon {
    height: 96px;
    border-radius: 8px;
}

#gamePlayButton:link, #gamePlayButton:visited {
    background-color: var(--content-bg-color);
    transition: background-color .3s ease;

    padding: 10px 30px;
    border-radius: 100px;

    text-decoration: none;
    color: black;
    font-weight: bold;
}

#gamePlayButton:hover, #gamePlayButton:active {
    background-color: #DDD;
}

